<!-- Form to sign in -->

<form>
	<div class="panel">
		<h1>Login</h1>
		
		<div class="row">

			<%= form_for :session, :url => sessions_path do |f| %>
			<div class="large-6 columns">
			<%= f.text_field :email, placeholder: "Email" %></div>
			<div class="large-6 columns">
			<%= f.password_field :password, placeholder: "Password" %></div>
			<%= f.submit "login" %>
			<% end %>

		</div>
	</div>
</form>
