<div id="body">
<h1><%= current_user.username %></h1>
	<% @posts.each do |b| %>
 
    <h3><%= b.topic %></h3>   
      <p>by {{post.user.username}}</p>
       <p><%= link_to "View", user_path(b) %><p>
 
<% end %>
 </div>