<h1>Home Page (without the user's own posts)</h1>
<!-- ADD A LINK TO EACH USER TO THEIR PROFILES -->

<% @posts.each do |b| %>
  <ul>
    <li><%= b.topic %>    
      <p>by {{post.user.username}}</p>
       <ul><%= link_to "View", post_path(b) %></ul>
    </li>
  </ul>
<% end %>
  <script type="text/javascript">
//  document.getElementById("currentevent").onclick= function(){
  
// }
</script>