<html lang="en">
<head>

<%= javascript_include_tag 'welcome.js' %>

</head>

<!-- <body onload="window.opener.setTimeout(window.opener.SC.connectCallback, 1)"> -->
    <!-- <b style="width: 100%; text-align: center;">This popup should automatically close in a few seconds</b> -->
<body>
   <!-- <h1>Click to connect with Soundcloud</h1> -->
    <!-- Image obtained from soundcloud developer resources -->
     

    <!-- <a href="#" class="connect"><img src="http://connect.soundcloud.com/2/btn-connect-sc-l.png"></a> -->
    
</body>
</html>