<p>pick a random genre to listen randomly listen to a new track</p>

<ul>
	<li><a href="#" class="genre">Deep House</a></li>
	<li><a href="#" class="genre">Progressive House</a></li>
	<li><a href="#" class="genre">House</a></li>
	<li><a href="#" class="genre">Trance</a></li>
	<li><a href="#" class="genre">Hard Trance</a></li>
	<li><a href="#" class="genre">Uplifting Trance</a></li>
	<li><a href="#" class="genre">Techno</a></li>
	<li><a href="#" class="genre">Deep Techno</a></li>
</ul>
<div id= "target">
</div>
