<html>
<head>
	
<script src="//connect.soundcloud.com/sdk.js"></script>
<script src="application.js"></script>

</head>
<body>


<table id="">
	<tr>
		
		<td><a href="#" class="genre">house</a></td>
		<td><a href="#" class="genre">trance</a></td>
		<td><a href="#" class="genre">punk</a></td>		
	</tr>
	<tr>
		<td><a href="#" class="genre">deep house</a></td>
		<td><a href="#" class="genre">uplifting trance</a></td>
		<td><a href="#" class="genre">rock</a></td>
	</tr>
	<tr>
		<td><a href="#" class="genre">progressive house</a></td>
		<td><a href="#" class="genre">hard trance</a></td>
		<td><a href="#" class="genre">jazz</a></td>
	</tr>
	<tr>
		<td><a href="#" class="genre">techno</a></td>
		<td><a href="#" class="genre">psy trance</a></td>
		<td><a href="#" class="genre">classical</a></td>
	</tr>
	<tr>
		<td><a href="#" class="genre">electronic</a></td>
		<td><a href="#" class="genre">dark techno</a></td>
		<td><a href="#" class="genre">trap</a></td>
	</tr>

</table>
<div id= "target">
</div>
 <script >
	 // calls on the SC API and allows the user to stream a random sound based on the music genre selected
	 function playSomeSound(genre){
		SC.get('/tracks', {
			"tags": genre,
			"downloadable": true},
		function(tracks){
			var random= Math.floor(Math.random() * 100);
			SC.oEmbed(tracks[random].uri, { auto_play: true }, document.getElementById('target'));
			});
		};

	window.onload =function() {
		SC.initialize({
			client_id: '4aa1dd0180daa6f5578cf7fb34e07645'
		});
		$('.genre').click(function(e){
				e.preventDefault();
				playSomeSound(this.innerHTML);
			});
		};
</script>

</body>

</html>