/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 /*= require foundation 
 *= require_tree .
 */

@import "foundation";
#body{
	width: 500px;
	text-align: center;
	display: block;
	margin: auto 0;
}
#signin {
	padding-left: 120px;
	margin-top: 0px;
	float: left;
}

form {
	width: 800px;
	text-align: left;


}
/*
h1 {
  font-family: Helvetica;
  font-weight: 100;
}
body {
  color:#333;
	text-align:left;
	width: 400px;

}*/