/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

@media only screen and (max-width: 942px) {
 /* Makes the responsive menu fit in the navigation container and change its background to black */
    .top-bar ul {
        background-color: rgba(0, 0, 0, 0.5);
        padding-bottom: 13px;
    }
}/* end media query */

/*#newstring h2{
	color: #1E90FF;
}*/

/*#sign{
	display: inline;
	text-align: center;
	width: 150px;
}*/

/*#container{
	width: 1000px;

	background-color: #383838;
	margin: auto;
	display: block;
	
}*/
.top-bar-section ul li {
	font-size: 15px !important;
}

h1{
	color: black !important;
	font-family: lobster !important;
	text-align:center;

}
p{
	color: white;
}
h3{
	color:#383838  !important;
	font-family: open sans !important;
}

body{
	background-image: url('back4.jpg') !important;
	background-size: cover;
	background-position: center center;
}

.panel {
	margin: auto 0 !important;
	padding-top: 25px !important;
	margin-top: 60px !important;
	height: 500px !important;
	/*background-color: #F0FFF0 !important;*/
}

.panel h1{
	padding-bottom: 20px !important;
}
.panel h3{
	padding-left: 20px !important;
	padding-top: 20px; 
}
.panel .button1{
	padding-left: 20px !important;
}
.button{
	padding: 10px;
	height: 30px !important;
	width:30px !important;
	color:black !important;
}

td{
	text-align: center !important;
	padding-left: 125px !important;
	padding-right: 125px !important;
	


}

tr {
	padding-top: -10px !important;
}


#table {
	margin-top: 20px !important;
	margin: auto 0 !important;
	
}

#signin {
	padding-left: 120px;
	margin-top: 0px;
	float: left;
}



.full-width{
	margin-top: 50px;
}

.top-bar-section li:hover a {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%) repeat scroll 0 0 transparent;
    color: 333399;
}
/*
h1 {
  font-family: Helvetica;
  font-weight: 100;
}
body {
  color:#333;
	text-align:left;
	width: 400px;

}*/
